html {
  font-size: 14px;
}

body {
  font-family: $gotham-rounded-book;
}

body *:focus {
  outline: none;
}

h1,
h2 {
  font-family: $burbank-small-bold;
}

img {
  max-width: 100%;
}

.btn {
  font-family: $gotham-rounded-bold;
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
