$bg-gray-light-100: $gray-100;
$text-main-color: $gray-700;
$text-color-gray-200: $gray-200;
$text-color-gray-400: $gray-400;
$text-white: $white;
$bg-color-tertiary: $tertiary;
$bg-color-primary: $primary;

//Buttons
.theme-btn {
  padding: 0.9rem 3rem;
  font-size: 1.25rem;
  color: $text-white;

  &:hover {
    color: $text-white;
  }
}

//Product-item

.product-item {
  &-img {
    height: 240px;
    padding: 0 10px;
    background: $bg-gray-light-100;
    border-radius: 12px;
    margin-bottom: 11px;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .product-title {
    line-height: 1.2;
    max-height: 3rem;
    overflow: hidden;
    a {
      color: inherit;
      transition: 0.3s linear;
      &:hover {
        color: rgba($text-main-color, 0.44);
      }
    }
  }
  .product-price {
    font-family: $gotham-rounded-book;
    .old-price {
      font-size: 0.8rem;
      color: $text-color-gray-200;
    }
    .current-price {
      font-size: 1.3rem;
    }
  }
}
//Stickers
.sticker-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sticker {
  color: $text-white;
  font-family: $gotham-rounded-bold;
  text-align: center;

  &-discount {
    background: $bg-color-tertiary;
    font-size: 1.5rem;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
  }
  &-new-arrivals {
    width: 95px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.125rem;
    background: $bg-color-primary;
    text-transform: uppercase;
  }
}

// Forms

.form-control {
  height: calc(2em + 1.8rem + 2px);
  padding: 0.9rem 1.625rem;
  font-size: 1.125rem;
  background-color: $bg-gray-light-100;
  &:focus {
    color: #494949;
    background-color: $bg-gray-light-100;
    border-color: $text-color-gray-400;
  }
}
