$bg-color-white: $white;
$bg-color-tertiary: $tertiary;
$text-color-gray-200: $gray-200;
$text-color-primary: $primary;
$text-main-color: $gray-700;

.main-content {
  .hero {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .owl-carousel {
    .owl-dots {
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;

      .owl-dot span {
        background: $bg-color-white;
      }
      .owl-dot.active span {
        background: $bg-color-tertiary;
      }
    }
  }

  .brands-slider-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    .brand-item {
      line-height: 78px;
      text-align: center;
    }
    .owl-carousel {
      .owl-item {
        img {
          display: inline;
          width: auto;
        }
      }
    }
  }
  .section-title {
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
  }

  .look-all {
    font-family: $gotham-rounded-bold;
    font-size: 1.25rem;
    color: $text-main-color;
    &-link {
      color: inherit;
      transition: 0.2s linear;
      &:hover {
        color: $text-color-primary;
      }
    }
  }

  .newest-products-slider {
    position: relative;
    .owl-nav {
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
      [class*='owl-']:hover {
        background: none;
      }

      .owl-prev,
      .owl-next {
        position: absolute;
        top: 0;
        color: $text-color-gray-200;
        font-size: 25px;
      }
      .owl-prev {
        left: 0px;
      }
      .owl-next {
        right: 0px;
      }
    }
  }
}
@media (min-width: 576px) {
  .main-content {
    .newest-products-slider {
      .owl-nav {
        .owl-prev {
          left: -10px;
        }
        .owl-next {
          right: -10px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-content {
    .newest-products-slider {
      .owl-nav {
        .owl-prev {
          left: 20px;
        }
        .owl-next {
          right: 20px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .main-content {
    .newest-products-slider {
      .owl-nav {
        .owl-prev {
          left: -5px;
        }
        .owl-next {
          right: -5px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-content {
    .brands-slider-wrapper {
      padding-top: 3.75rem !important;
      padding-bottom: 3.75rem !important;
    }
    .look-all {
      margin-bottom: 4.15rem !important;
    }
    .newest-products-slider {
      .owl-nav {
        .owl-prev {
          left: -25px;
        }
        .owl-next {
          right: -25px;
        }
      }
    }
  }
}
