$bg-color-white: $white;
$bg-color-tertiary: $tertiary;
$text-color-gray-200: $gray-200;

.main-content {
  .hero {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .owl-carousel {
    .owl-dots {
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;

      .owl-dot span {
        background: $bg-color-white;
      }
      .owl-dot.active span {
        background: $bg-color-tertiary;
      }
    }
  }

  .brands-slider-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    .brand-item {
      line-height: 78px;
      text-align: center;
    }
    .owl-carousel {
      .owl-item {
        img {
          display: inline;
          width: auto;
        }
      }
    }
  }
  .section-title {
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
  }

  .product-item {
    width: 246px;
    margin: 0 auto;
  }

  .newest-products-slider {
    position: relative;

    .owl-nav {
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
      [class*='owl-']:hover {
        background: none;
      }

      .owl-prev,
      .owl-next {
        position: absolute;
        top: 0;
        color: $text-color-gray-200;
        font-size: 25px;
      }
      .owl-prev {
        left: -50px;
      }
      .owl-next {
        right: -50px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .brands-slider-wrapper {
    padding-top: 3.75rem !important;
    padding-bottom: 3.75rem !important;
  }
}
