$bg-color-beige: $beige;
$bg-color-primary: $primary;
$bg-color-white: $white;
$text-main-color: $gray-700;
$text-white: $white;
$text-color-primary: $primary;

.main-footer {
  background: $bg-color-beige;

  &-content {
    color: $text-main-color;
    font-family: $gotham-rounded-bold;
    .footer-nav-item,
    .footer-info-item {
      margin-bottom: 1rem;
    }
    .footer-nav-link,
    .footer-info-link {
      color: inherit;
      transition: 0.3s linear;
      &:hover {
        color: rgba($text-main-color, 0.44) !important;
      }
    }

    .newsletter {
      .newsletter-form {
        .form-control {
          height: calc(2em + 1.3rem + 1px);
          padding: 0.9rem 1.5rem;
          background-color: transparent;
          border-color: $text-main-color;
          font-size: 1rem;
        }
        .theme-btn {
          padding: 0.8rem 3rem;
          color: $text-main-color;
          font-size: 1rem;
        }
      }
    }
  }
  &-copyrights {
    background: $bg-color-beige;
    .footer-brand {
      display: block;
    }
    .copyrights {
      margin-bottom: 0;
    }
  }
}
