$bg-color-primary: $primary;
$bg-color-tertiary: $tertiary;
$bg-white: $white;
$text-color-primary: $primary;
$text-color-secondary: $secondary;
$text-color-tertiary: $tertiary;
$text-white: $white;
$text-main-color: $gray-700;

.main-header {
  background: rgba($bg-white, 0.7);
  transition: 0.3s linear;
  .navbar-brand {
    max-width: 35%;
    margin-right: 0.5rem;
  }

  #main-menu {
    margin: 0 -15px;
    max-height: 100vh;
    overflow: scroll;
  }

  .navbar-nav {
    margin: 0 -10px;
    border-top: 1px solid $text-color-tertiary;
    background: $bg-white;
  }

  .nav-link {
    padding: 15px;
    display: block;
    border-bottom: 1px solid $text-color-tertiary;
    font-family: $gotham-rounded-bold;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s linear;
    &:hover {
      background: $bg-color-primary;
      color: $text-white !important;
    }
    &.new {
      color: $text-color-primary;
    }
    .submenu-toggler {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;

      &-level-2,
      &-desktop-level-2 {
        color: $text-color-secondary;
      }
      &-desktop-level-1,
      &-desktop-level-2 {
        display: none;
      }
    }
  }

  .submenu {
    list-style: none;
    padding: 0;
    display: none;
    .nav-link {
      padding: 5px 20px;
      text-transform: none;
      color: lighten($text-main-color, 44%);

      &.active {
        color: $text-main-color;
      }

      .category-img-wrapper {
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
      }
    }
    &-level-2 {
      .nav-link {
        padding: 5px 52px;
      }
    }
  }

  .nav-action {
    .search-icon,
    .favorites-icon,
    .small-cart-icon,
    .user-action-icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      cursor: pointer;
      line-height: 1;
      padding-top: 2px;
    }

    .search-icon,
    .favorites-icon {
      padding-top: 3px;
    }
    .small-cart-icon {
      padding-top: 5px;
    }

    .search-form {
      position: absolute;
      width: calc(100% + 30px);
      left: -15px;
      top: 100%;
      background: $bg-color-primary;
      z-index: 10;
      display: none;

      .form-group {
        margin: 0;
        padding: 1rem;
      }

      .form-control {
        padding: 0.6rem 2.5rem;
        font-size: 1rem;
        height: auto;
        color: #494949;
        background-color: #fff;
        border: 1px solid $text-color-primary;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &::placeholder {
          font-family: $gotham-rounded-book;
        }
      }

      .search-btn {
        border: 1px solid $text-color-primary;
        background: #fff;
        color: $text-color-primary;
        padding: 0.6rem 1.5rem;
        transition: 0.3s linear;
        &:hover {
          background: $bg-color-tertiary;
          color: #fff;
        }
        .fa-search {
          font-size: 1.6rem;
        }
      }
    }

    .small-cart-icon {
      position: relative;
      .small-cart-products-number {
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        position: absolute;
        top: -1px;
        right: -7px;
        font-size: 0.625rem;
        color: $text-white;
        font-family: $gotham-rounded-bold;
        line-height: 1rem;
        text-align: center;
        background: $bg-color-primary;
      }
    }

    .dropdown-menu {
      top: 160%;
      right: 0;
      left: auto;
      background-color: $bg-white;
      background-clip: padding-box;
      border: 1px solid $text-color-tertiary;
      border-radius: 1rem;

      .dropdown-item {
        color: $text-main-color;
        transition: 0.3s linear;
        &:hover,
        &:focus {
          color: $text-color-primary;
          background-color: transparent;
        }
      }
      .dropdown-divider {
        border-top: 2px solid $text-color-tertiary;
      }
    }
    .dropdown-toggle::after {
      display: none;
    }
  }
  .overlay-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($text-main-color, 0.38);
    display: none;
  }
}

@media (min-width: 420px) {
  .main-header {
    .nav-action {
      .search-icon,
      .favorites-icon,
      .small-cart-icon {
        width: 26px;
        height: 26px;
      }
    }
  }
}

@media (min-width: 576px) {
  .submenu-level-2 {
    columns: 2;
    border-bottom: 1px solid $text-color-tertiary;
    .nav-link {
      border-bottom: none;

      &:hover {
        background: none;
        color: $text-color-primary !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-header {
    #main-menu {
      margin: 0;
      max-height: none;
      overflow: auto;
    }

    .navbar-brand {
      max-width: 20%;
    }

    .navbar-nav {
      margin: 0;
      border-top: none;
      background: none;
    }
    .nav-item {
      padding: 0 9px !important;
      cursor: pointer;
    }
    .nav-link {
      padding: 0 !important;
      display: inline-block;
      border-bottom: none;
      text-transform: none;
      position: relative;
      cursor: pointer;
      transition: 0.3s linear;
      &:hover {
        color: rgba($text-main-color, 0.44) !important;
        background: none;
      }

      .submenu-toggler {
        position: static;
        transform: translateY(0);
        &-level-1 {
          font-size: inherit;
          display: none;
        }
        &-level-2 {
          padding-left: 20px;
          display: none;
        }
        &-desktop-level-1 {
          display: inline-block;
          font-size: inherit;
          transition: 0.3s linear;
        }
        &-desktop-level-2 {
          display: inline-block;
          padding-left: 20px;
          transition: 0.3s linear;
        }
      }
    }

    .submenu {
      list-style: none;
      padding: 0;
      display: none;
      position: absolute;
      top: 40%;
      left: 22%;
      padding-top: 60px;
      min-width: 170px;
      transition: 0.3s linear;

      .nav-link {
        padding: 12px 0 !important;
        text-transform: none;
        color: lighten($text-main-color, 44%);
        position: relative;
        &.active {
          color: $text-main-color;
        }

        .category-img-wrapper {
          width: 33px;
          height: 33px;
          text-align: center;
          line-height: 33px;
        }
      }

      &-level-1 {
        .nav-link {
          &:hover {
            color: $text-main-color !important;
          }
        }
      }

      &-level-2 {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 400px;
        columns: 2;
        border-bottom: none;
        padding-top: 60px;
        .nav-link {
          border-bottom: none;
          padding: 8px 0 !important;
          color: $text-main-color !important;

          &:hover {
            background: none;
            color: lighten($text-main-color, 44%) !important;
          }
        }
      }
    }

    .nav-action {
      .search-form {
        width: calc(78% - 73.3px - 34.2px);
        left: 19%;
        top: 9%;
        background: none;
      }
    }
    .nav-item:hover > .submenu {
      display: block;
    }

    .nav-item:hover .nav-link > .submenu-toggler-desktop-level-1 {
      transform: rotateX(180deg) translateY(-2px);
    }
    .submenu-level-1 > .nav-item:hover .nav-link > .submenu-toggler-desktop-level-2 {
      transform: rotateY(180deg) translateX(-20px);
    }
  }
}

@media (min-width: 992px) {
  .main-header {
    .navbar-brand {
      margin-right: 30px;
    }

    .nav-action {
      .search-form {
        width: calc(75% - 73.3px - 34.2px);
      }
    }
    .submenu {
      left: 23%;

      &-level-2 {
        width: 500px;
        left: 100%;
        padding-left: 10px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-header {
    .container {
      max-width: 1575px;
    }
    .navbar-brand {
      margin-right: 50px;
    }
    .nav-item {
      padding: 0 12px !important;
    }

    .nav-action {
      .search-form {
        width: calc(77% - 73.3px - 34.2px);
      }
    }
    .submenu {
      left: 20.5%;

      &-level-2 {
        left: 100%;
      }

      .nav-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
