$bg-color-primary: $primary;
$text-color-primary: $primary;
$text-color-secondary: $secondary;
$text-color-tertiary: $tertiary;
$text-white: $white;
$text-main-color: $gray-700;

.main-header {
  .navbar-brand {
    max-width: 31%;
  }

  #main-menu {
    margin: 0 -15px;
    max-height: 85vh;
    overflow: scroll;
  }

  .navbar-nav {
    margin: 0 -10px;
    border-top: 1px solid $text-color-tertiary;
  }

  .nav-link {
    padding: 15px;
    display: block;
    border-bottom: 1px solid $text-color-tertiary;
    font-family: $gotham-rounded-bold;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s linear;
    &:hover {
      background: $bg-color-primary;
    }
    &.new {
      color: $text-color-primary;
    }
    .submenu-toggler {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;

      &-right {
        color: $text-color-secondary;
      }
    }
  }

  .submenu {
    list-style: none;
    padding: 0;
    display: none;
    .nav-link {
      padding: 5px 20px;
      text-transform: none;
      color: lighten($text-main-color, 44%);

      &.active {
        color: $text-main-color;
      }

      .category-img-wrapper {
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
      }
    }
    &-level-2 {
      .nav-link {
        padding: 5px 52px;
      }
    }
  }

  .nav-action {
    .search-icon,
    .favorites-icon,
    .small-cart-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      cursor: pointer;
    }

    .small-cart-icon {
      position: relative;
      .small-cart-products-number {
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -7px;
        font-size: 0.625rem;
        color: $text-white;
        font-family: $gotham-rounded-bold;
        line-height: 1rem;
        text-align: center;
        background: $bg-color-primary;
      }
    }
  }
}

@media (min-width: 420px) {
  .main-header {
    .nav-action {
      .search-icon,
      .favorites-icon,
      .small-cart-icon {
        width: 26px;
        height: 26px;
      }
    }
  }
}

@media (min-width: 576px) {
  .submenu-level-2 {
    columns: 2;
    border-bottom: 1px solid $text-color-tertiary;
    .nav-link {
      border-bottom: none;

      &:hover {
        background: none;
        color: $text-color-primary !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-header {
    #main-menu {
      margin: 0;
      max-height: none;
      overflow: auto;
    }

    .navbar-brand {
      max-width: 20%;
    }

    .navbar-nav {
      margin: 0;
      border-top: none;
    }

    .nav-link {
      padding: 0 9px !important;
      display: inline-block;
      border-bottom: none;
      text-transform: none;
      position: relative;
      transition: 0.5s linear;
      &:hover {
        color: $bg-color-primary;
        background: none;
      }
      .submenu-toggler {
        position: relative;
        top: 8px;
        left: 3px;
        &-down {
          font-size: inherit;
        }
        &-right {
          top: 16px;
          left: 21px;
        }
      }
    }

    .submenu {
      list-style: none;
      padding: 0;
      display: none;
      position: absolute;
      top: 100%;
      left: 22%;
      .nav-link {
        padding: 12px 0 !important;
        text-transform: none;
        color: lighten($text-main-color, 44%);
        position: relative;
        &.active {
          color: $text-main-color;
        }

        .category-img-wrapper {
          width: 33px;
          height: 33px;
          text-align: center;
          line-height: 33px;
        }
      }
      &-level-2 {
        position: absolute;
        top: 0;
        left: 150%;
        width: 400px;
        columns: 2;
        border-bottom: none;
        padding-top: 11px;
        .nav-link {
          border-bottom: none;
          padding: 6px 0 !important;
          color: $text-main-color !important;

          &:hover {
            background: none;
            color: lighten($text-main-color, 44%) !important;
          }
        }
      }
    }

    .nav-action {
      .search-icon,
      .favorites-icon,
      .small-cart-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  .main-header {
    .navbar-brand {
      margin-right: 88px;
    }
    .submenu {
      left: 30%;

      &-level-2 {
        left: 150%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-header {
    .navbar-brand {
      margin-right: 70px;
    }
    .nav-link {
      padding: 0 12px !important;
    }
    .submenu {
      left: 24%;

      &-level-2 {
        left: 150%;
      }
    }
  }
}
