$text-main-color: $gray-700;
$text-color-gray-200: $gray-200;
$text-color-gray-400: $gray-400;
$text-color-secondary: $secondary;
$text-color-tertiary: $tertiary;

.main-content {
  .main-form-section {
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    .main-form-section-title {
      font-size: 2.5rem;
    }
    .main-form {
      label {
        color: $text-color-gray-400;
        margin-bottom: 17px;
      }
      label.required {
        color: $text-color-secondary;
      }
      .form-control {
        height: calc(2em + 1.1rem + 3px);
        padding: 0.9rem 1.84rem;
        font-size: 1.125rem;
        background-color: transparent;
      }
      .terms {
        label {
          color: $text-color-gray-200;
          font-family: $gotham-rounded-bold;
          text-transform: none;
          letter-spacing: 0;
          margin-bottom: 1rem;
          margin-left: 47px;
          padding-top: 4px;
          position: relative;

          input[type='checkbox'] {
            width: 0px;
            visibility: hidden;
            display: none;
            overflow: hidden;
            border: 0;
            padding: 0;
          }
          .fake-checkbox {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 29px;
            height: 29px;
            border-radius: 5px;
            border: 2px solid $text-color-gray-400;
            position: absolute;
            left: -48px;
            top: 0;
            .fa-check {
              display: none;
              color: $text-color-secondary;
              font-size: 1.1rem;
            }
          }

          input[type='checkbox']:checked ~ .fake-checkbox {
            border-color: $text-color-secondary;
            .fa-check {
              display: inline-block;
            }
          }
        }
      }
      .theme-btn {
        padding: 0.72rem 4.9rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .main-content {
    .main-form-section {
      padding-bottom: 200px;
    }
  }
}

@media (min-width: 576px) {
  .main-content {
    .main-form-section {
      padding-bottom: 250px;
    }
  }
}

@media (min-width: 992px) {
  .main-content {
    .main-form-section {
      padding-bottom: 300px;
      .main-form-section-title {
        font-size: 3rem;
      }
      .main-form {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-content {
    .main-form-section {
      padding-bottom: 350px;
      .main-form-section-title {
        font-size: 3.75rem;
      }
      .main-form {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 1400px) {
  .main-content {
    .main-form-section {
      padding-bottom: 450px;
    }
  }
}
