$bg-white: $white;
$bg-gray-light-50: $gray-50;
$bg-gray-light-100: $gray-100;
$border-color: $gray-400;

.small-cart-content {
  position: fixed;
  width: 280px;
  height: 100vh;
  top: 0;
  right: -100%;
  background: $bg-white;
  z-index: 1100;
  padding: 5px 10px;
  transition: 0.6s linear;

  &.active {
    right: 0;
  }

  .small-cart-header,
  .small-cart-product-price {
    font-family: $gotham-rounded-bold;

    .small-cart-detail {
      margin-bottom: 20px;
    }
  }

  .small-cart-products {
    height: 50vh;
    overflow: scroll;
    padding-bottom: 30px;
    border-bottom: 2px solid $border-color;
    .small-cart-product-img {
      padding: 10px;
      border-radius: 12px;
      background: $bg-gray-light-50;
    }
    .small-cart-product-detail {
      position: relative;

      .small-cart-product-collection,
      .small-cart-product-type {
        a {
          color: $text-main-color;
          cursor: pointer;
          transition: 0.3s linear;
          &:hover {
            color: rgba($text-main-color, 0.44);
          }
        }
      }
    }

    .delete-product {
      position: absolute;
      top: -7px;
      right: 9px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      background: $bg-gray-light-50;
      border-radius: 50%;
    }
  }
  .small-cart-price {
    font-size: 1.1rem;
    color: rgba($text-main-color, 0.44);
    font-family: $gotham-rounded-bold;
    .small-cart-product-price {
      color: $text-main-color;
    }
    .small-cart-total-price {
      font-size: 1.3rem;
      color: $text-main-color;
    }
  }
  .small-cart-action {
    position: absolute;
    left: calc(35% - 52px);
    bottom: 5px;
    .small-cart-action-btn-continue {
      background: darken($bg-gray-light-100, 10%);
      font-size: 1rem;
      padding: 1rem 2.6rem;
    }
    .small-cart-action-btn-order {
      font-size: 1.2rem;
      color: $text-white;
    }
  }
}

@media (min-width: 992px) {
  .small-cart-content {
    width: 450px;
    padding: 30px 15px;

    .small-cart-products {
      height: 45vh;
      .delete-product {
        right: 30px;
        top: -8px;
      }
    }
    .small-cart-product-img {
      width: 30% !important;
    }
    .small-cart-product-detail {
      width: 70% !important;
    }

    .small-cart-action {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      position: static;
      left: auto;
      bottom: auto;

      .small-cart-action-btn-continue {
        font-size: 1rem;
        padding: 0.85rem 1.75rem;
      }
      .small-cart-action-btn-order {
        font-size: 1.2rem;
        padding: 0.7rem 4.1rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .small-cart-content {
    width: 500px;
    .small-cart-products {
      height: 40vh;
    }
    .small-cart-price {
      font-size: 1.5rem;
      .small-cart-total-price {
        font-size: 1.875rem;
      }
    }
  }
}
